<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="utils/mysql-connector-java-5.1.26.jar"/>

    <context id="MySQLTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.200.22:3306/yangmao?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;autoReconnectForPools=true&amp;zeroDateTimeBehavior=convertToNull"
                        userId="root" password="password">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.yangmao.dal.dataobj"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.yangmao.dal.dao"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.yangmao.dal.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="yangmao_user" domainObjectName="YangmaoUser">
        	<generatedKey column="user_id" sqlStatement="MySql" identity="true" />
        </table>
        

        <table tableName="yangmao_email" domainObjectName="YangmaoEmail">
            <generatedKey column="email_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="yangmao_template" domainObjectName="YangmaoTemplate">
            <generatedKey column="template_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="yangmao_template_item" domainObjectName="YangmaoTemplateItem">
            <generatedKey column="template_item_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_favorites" domainObjectName="YangmaoFavorites">
            <generatedKey column="yangmao_favorites_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_favorites_item" domainObjectName="YangmaoFavoritesItem">
            <generatedKey column="item_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_mail_template" domainObjectName="YangmaoMailTemplate">
            <generatedKey column="template_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_template_section" domainObjectName="YangmaoTemplateSection">
            <generatedKey column="section_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_mail_instance" domainObjectName="YangmaoMailInstance">
            <generatedKey column="mail_instance_id" sqlStatement="MySql" identity="true" />
        </table>
       
        <table tableName="yangmao_mail_instance_item" domainObjectName="YangmaoMailInstanceItem">
            <generatedKey column="instance_item_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_click" domainObjectName="YangmaoClick">
            <generatedKey column="click_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_email_getting_history" domainObjectName="YangmaoEmailGettingHistory">
            <generatedKey column="history_id" sqlStatement="MySql" identity="true" />
        </table>
        
        <table tableName="yangmao_email_sender" domainObjectName="YangmaoEmailSender">
            <generatedKey column="sender_id" sqlStatement="MySql" identity="true" />
        </table>
        
    </context>
</generatorConfiguration>
